<div class="row">
    <div class="col-md-12 text-center">
        <h1>Products | <a href="/categories">Categories</a></h1>
    </div>
</div>

@model Product
<div class="row">
    <div class="col-md-6">
        <h2>New Product</h2>
        <label asp-for="Name"></label>
        <input asp-for="Name" /><br/>

        <label asp-for="Description"></label>
        <input asp-for="Description" /><br/>

        <label asp-for="Price"></label>
        <input asp-for="Price" /><br/>

        <input type="submit" value="Create" />
    </div>
    <div class="col-md-6">
        <h2>Existing Products</h2>

    </div>
</div>