<div class="row">
    <div class="col-md-12 text-center">
        <h1>Products | <a href="/categories">Categories</a></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.ValidationSummary()
    </div>
</div>

@model CreateProductViewModel
<form action="/products" method="POST">
<div class="row">
    <div class="col-md-6">
        <h2>New Product</h2>
        <label asp-for="Product.Name"></label>
        <input asp-for="Product.Name" /><br/>

        <label asp-for="Product.Description"></label>
        <input asp-for="Product.Description" /><br/>

        <label asp-for="Product.Price"></label>
        <input asp-for="Product.Price" /><br/>

        <input type="submit" value="Create" />
    </div>
    </form>
    <div class="col-md-6">
        <h2>Existing Products</h2>
        @foreach(Product product in @Model.Products) {
            @:<a href="/products/@product.ProductId">
            @product.Name
            @:</a><br/>
        }
    </div>
</div>