<div class="row">
    <div class="col-md-12 text-center">
        <h1><a href="/products">Products</a> | Categories</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.ValidationSummary()
    </div>
</div>

@model CreateCategoryViewModel
<form action="/categories" method="POST">
<div class="row">
    <div class="col-md-6">
        <h2>New Product</h2>
        <label asp-for="Category.Name"></label>
        <input asp-for="Category.Name" /><br/>

        <input type="submit" value="Create" />
    </div>
    </form>
    <div class="col-md-6">
        <h2>Existing Categories</h2>
        @foreach(Category category in @Model.Categories) {
            @:<a href="/categories/@category.CategoryId">
            @category.Name
            @:</a><br/>
        }
    </div>
</div>